API_KEY="ABC123!" # Key used for sending requests to the main API
APP_ID="1234" # App ID of the discord app
CLOUDINARY_URL=https://res.cloudinary.com/minionah/ # URL of cloudinary
DATABASE_URL="postgressql://" # The database connection
DISCORD_TOKEN="ABC123" # The discord bot's token
PRICE_CHECKER_URL=https://minionah.com/api/craftcost/minions # URL of the prices 
WEB_PORT=3000